# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next
.turbo
out

# Testing
coverage

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# IDE
.vscode
.idea

# Lock files
bun.lockb
package-lock.json
yarn.lock
pnpm-lock.yaml